<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/sakoula plus.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/cans_ina_air.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/logo+cup.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="row m-5 p-5" style="background: rgb(34,193,195);
background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(175,151,99,1) 100%); border-radius: 20px;">
<div class="col-sm-4">
  <div class="card text-bg-dark mb-3">
    <div class="card-body">
      <div class="card-header">Big Variety</div>
      <div class="card-body">
        <h5 class="card-title">Abundance </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
</div>
</div>
    <div class="col-sm-4">
      <div class="card text-bg-dark">
        <div class="card-body">
          <h5 class="card-title">Best Quality</h5>
          <p class="card-text">The best quality on earth. You have to try it NOW! With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-info">Check Our Facilities</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-bg-dark mb-3">
          <div class="card-body">
            <div class="card-header">Unique Aromas</div>
            <div class="card-body">
              <h5 class="card-title">Taste the difference</h5>
              <p class="card-text">Build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>
  </div>